.users-subtitle {
  overflow: hidden;
  color: #727272;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.user-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}
